# Laravel & PHP
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.*.php
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
docker-compose.override.yml

# OS and editor files
.DS_Store
Thumbs.db

# IDEs
/.idea
/.vscode
/*.code-workspace

# Build/artifacts
/*.zip
/*.tar.gz
/*.log
*.cache

# PhpStorm/WebStorm helper files
.phpstorm.meta.ts
/_ide_helper.php
